<!DOCTYPE html>
<html>
<head>
  <title>MAINTENANCE</title>
</head>
  <body>

    <h1>We are currently working on the site...</h1>
    <p>Once we are done, everything will work again :)</p>
    <small>THANK YOU</small>

  {{> footer }}

  </body>
</html>